<form action="/admin/page/alldel" method="post">
  <table class="table fileslist">
    <thead>
      <tr>
        <th colspan="9">单页文档
          <a href="/admin/page/add">新增单页文档+</a>
        </th>
      </tr>
      <tr class="table_title">
        <td width="3%">
          <input type="checkbox" title="全选" />
        </td>
        <td>文档标题</td>
        <td>缩略标题</td>
        <td>作者</td>
        <td>发布日期</td>
        <td>模板</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      {{ range $k, $v := .pageLists }}
      <tr>
        <td>
          <input type="checkbox" name="id[]" class="checkbox" value="{{ $v.Id }}">
        </td>
        <td>
          <a href="/admin/page/edit/{{ $v.Id }}" title="编辑文档">{{ $v.Title }}</a>
          {{ if $v.Ishidden }}
          <span class="red">[隐]</span> {{ end }}
        </td>
        <td>{{ $v.Slug }}</td>
        <td>{{ $v.User.Username }}</td>
        <td>{{ date $v.Posttime "Y-m-d H:i:s"}}</td>
        <td>{{ $v.Template }}</td>
        <td>
          <a href="/admin/page/edit/{{ $v.Id }}" title="编辑文档">编辑</a> |
          <a href="/admin/page/del/{{ $v.Id }}" title="删除文档">删除</a> |
          <a href="/admin/page/view/{{ $v.Id }}" title="预览文档" target="_blank">预览</a>
        </td>
      </tr>
      {{ end }}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">
          <input type="submit" value="删除所选" class="roundbtn" />
        </td>
      </tr>
    </tfoot>
  </table>
</form>