<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        {{ config "String" "appname" "" }}
    </title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/jquery.js"></script>
</head>

<body>
    <div id="wrap">
        <div id="header">
            <h1 class="sitename">
                <a href="/" title="{{ config " String " "appname " " " }}">
                    {{ config "String" "appname" "" }}
                </a>
            </h1>
            <ul class="nav_main">
                {{ range $index, $menu := .menus }} {{ if eq $menu.Reid 0 }}
                <li class="menu-item menu-nav-{{ $menu.Id }}">
                    <a href="/{{ $menu.Url }}" target="{{ $menu.Target }}">{{ $menu.Nav }}</a>
                    <ul class="sub_menu">
                        {{ range $subIndex, $subMenu := $.menus }} {{ if eq $subMenu.Reid $menu.Id }}
                        <li>
                            <a href="/{{ $subMenu.Url }}" target="{{ $subMenu.Target }}">{{ $subMenu.Nav }}</a>
                        </li>
                        {{ end }} {{ end }}
                    </ul>
                </li>
                {{ end }} {{ end }}
            </ul>
        </div>
        <div id="content">
            <div class="left_con">
                    {{.LayoutContent}}
            </div>
            <div class="right_con">
                <form action="<?php echo site_url('search');?>" class="search_right">
                    <input type="text" name="q" class="search_right_q" value="" />
                    <input type="submit" value="搜索" class="search_right_submit" />
                </form>
                <div class="widget user_info"></div>
                <div class="widget">
                    <h3>热门文章</h3>
                    <ul>
                        <?php foreach ($post_hot['list'] as $line) {?>
                        <li>
                            <a href="<?php echo site_url($line['channeltype'].'/'.$line['id'].'/'.$line['slug']);?>" title="<?php echo $line['title'];?>">
                                <?php echo $line['title'];?>
                            </a>
                            <?php echo $line['click'];?>℃</li>
                        <?php } ?>
                    </ul>
                </div>
                <div class="widget">
                    <h3>最新评论</h3>
                    <ul>
                        <?php foreach ($comments_new['list'] as $line) {?>
                        <li>
                            <a href="<?php echo site_url($line['channeltype'].'/'.$line['pid'].'/'.$line['slug']);?>#comments_id_<?php echo $line['id'];?>"
                                title="评论给《<?php echo $line['title'];?>》">
                                <?php echo $line['content'];?>
                            </a>
                        </li>
                        <?php } ?>
                    </ul>
                </div>
                <div class="widget">
                    <h3>友情链接</h3>
                    <ul>
                        <?php foreach ($friendlink['list'] as $line) {?>
                        <li>
                            <a href="<?php echo $line['url']?>" title="<?php echo $line['dec'];?>" target="_blank">
                                <?php echo $line['title'];?>
                            </a>
                        </li>
                        <?php } ?>
                    </ul>
                </div>
                <div class="widget">
                    <h3>功能</h3>
                    <ul>
                        <li class="login">
                            <a href="<?php echo site_url('login');?>" title="登录后台">登录</a>&nbsp;&nbsp;&nbsp;
                            <a href="<?php echo site_url('login/register');?>" title="没有账号？请注册">注册</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer">
            Powered By
            <a href="/" target="_blank">OWNCMS</a> Design By Wordpress
            <p>查询：
                <?php echo $this->db->query_count;?>次 &nbsp;&nbsp;用时：{elapsed_time}秒 &nbsp;&nbsp;占用内存{memory_usage}
                <script type="text/javascript" src="/static/js/owncms.js"></script>
                <script type="text/javascript">
                    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F81e53d2f17ac8709fc7ee1c91813ee9b' type='text/javascript'%3E%3C/script%3E"));
                </script>
            </p>
        </div>
    </div>
</body>

</html>