<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        {{ config "String" "appname" "" }}
    </title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/jquery.js"></script>
</head>

<body>
    <div id="wrap">
        <div id="header">
            <h1 class="sitename">
                <a href="/" title="{{ config " String " "appname " " " }}">
                    {{ config "String" "appname" "" }}
                </a>
            </h1>
            <ul class="nav_main">
                {{ range $index, $menu := .menus }} {{ if eq $menu.Reid 0 }}
                <li class="menu-item menu-nav-{{ $menu.Id }}">
                    <a href="/{{ $menu.Url }}" target="{{ $menu.Target }}">{{ $menu.Nav }}</a>
                    <ul class="sub_menu">
                        {{ range $subIndex, $subMenu := $.menus }} {{ if eq $subMenu.Reid $menu.Id }}
                        <li>
                            <a href="/{{ $subMenu.Url }}" target="{{ $subMenu.Target }}">{{ $subMenu.Nav }}</a>
                        </li>
                        {{ end }} {{ end }}
                    </ul>
                </li>
                {{ end }} {{ end }}
            </ul>
        </div>
        <div id="content">
            <div class="left_con">
                {{.LayoutContent}}
            </div>
            <div class="right_con">
                <form action="{{ urlfor " SearchController.Index " }}" class="search_right">
                    <input type="text" name="q" class="search_right_q" value="{{ .q }}" />
                    <input type="submit" value="搜索" class="search_right_submit" />
                </form>
                {{ if .Uid }}
                <div class="widget user_info" style="display: block;">
                    <h3>欢迎登录</h3>
                    <a href="/user/profile">
                        <img src="http://www.gravatar.com/avatar/d31b28b83ac911a4b73373b758af64f9?s=44" class="avatar" title="{{ .AuthUser.Username }}">
                    </a>
                    <p>
                        <strong>{{ .AuthUser.Username }}</strong>
                    </p>
                    <p>
                        <a href="/author/{{ .AuthUser.Username }}" title="我的作品">我的作品</a>&nbsp;&nbsp;&nbsp;
                        <a href="{{ .AuthUser.Username }}" target="_blank">我的网站</a>
                    </p>
                    <p>上次登录：{{ date .AuthUser.Logedtime "Y-m-d H:i:s" }}</p>
                    <p>
                        <a href="/user/logout" title="退出登录">登出</a>&nbsp;&nbsp;&nbsp;
                        {{ if ne .AuthUser.Group 3 }}<a href="/admin/">后台管理</a>{{ end }}
                    </p>
                </div>
                {{ else }}
                <div class="widget">
                    <h3>功能</h3>
                    <ul>
                        <li class="login">
                            <a href="/user/login" title="登录后台">登录</a>&nbsp;&nbsp;&nbsp;
                            <a href="/user/register" title="没有账号？请注册">注册</a>
                        </li>
                    </ul>
                </div>
                {{ end }}
                <div class="widget">
                    <h3>热门文章</h3>
                    <ul>
                        {{ range $k, $v := .hotLists }}
                        <li>
                            <a href="/{{ $v.Category.Channeltype }}/{{ $v.Id }}/{{ $v.Slug }}" title="{{ $v.Title }}">
                                {{ $v.Title }}
                            </a>
                            {{ $v.Click }}℃</li>
                        {{ end }}
                    </ul>
                </div>
                <div class="widget">
                    <h3>最新评论</h3>
                    <ul>
                        {{ range $k, $v := .commentNewLists }}
                        <li>
                            <a href="/{{ $v.Channeltype }}/{{ $v.Pid }}/{{ $v.Slug }}#comments_id_{{ $v.Id }}" title="评论给《{{ $v.Title }}》">
                                {{ $v.Content }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="widget">
                    <h3>友情链接</h3>
                    <ul>
                        {{ range $k, $v := .friendlinkLists }}
                        <li>
                            <a href="{{ $v.Url }}" title="{{ $v.Dec }}" target="_blank">
                                {{ $v.Title }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer">
            Powered By
            <a href="/" target="_blank">OWNCMS</a> Design By Wordpress
            <script type="text/javascript" src="/static/js/owncms.js"></script>
            </p>
        </div>
    </div>
</body>

</html>