<h1 class="archive_header">{{ .q }} 的搜索结果</h1>
 {{ range $k, $v := .postLists }}
<div class="post_list">
    <h1 class="post_title">
        <a href="/{{ $v.Category.Channeltype }}/{{ $v.Id }}/{{ $v.Slug }}" title="{{ $v.Title }}">{{ $v.Title }}</a>
    </h1>
    {{ if $v.CommentStatus }} {{ if $v.CommentCount }}
    <a class="comments_link" href="/{{ $v.Category.Channeltype }}/{{ $v.Id }}/{{ $v.Slug }}#comments_list" title="《{{ $v.Title }}》上的评论">{{ $v.CommentCount }}条评论</a>
    {{ else }}
    <a class="comments_link" href="/{{ $v.Category.Channeltype }}/{{ $v.Id }}/{{ $v.Slug }}#respond" title="《{{ $v.Title }}》上的评论">发表评论</a>
    {{ end }} {{ end }}
    <div class="post_content">
        {{ str2html $v.Content }}
    </div>
    <div class="post_meta">本文章发布于
        <a href="/{{ $v.Category.Channeltype }}/{{ $v.Id }}/{{ $v.Slug }}">
            {{ date $v.Posttime "Y-m-d H:i:s"}}
        </a>。 属于<a href="/category/{{ $v.Category.Slug }}"> {{ $v.Category.Typename }}</a> 分类。
    </div>
</div>
{{ end }}
{{ str2html .pagination }}