<div class="form login">
    <h3>登录</h3>
    <form method="post" action="" onsubmit="return checklogin_form();">
        <input type="hidden" name="referer" value="{{ .referer }}" />
        <p>账号/邮箱
            <span class="required">*</span>
        </p>
        <p>
            <input type="text" name="username" class="username" value="" tabindex="1" /> &nbsp;&nbsp;&nbsp;
            <a href="/user/register">免费注册</a>
        </p>
        <p>密码
            <span class="required">*</span>
        </p>
        <p>
            <input type="password" name="password" class="password" value="" tabindex="2" /> &nbsp;&nbsp;&nbsp;
        </p>
        <p>
            <input type="submit" value="登录" class="comment_submit" />
            <input type="checkbox" value="1" name="keepLogin" />
            <label for="expired">保持登录</label>
        </p>
    </form>
    <script type="text/javascript">
        function checklogin_form() {
            if ($('.form .username').val().length < 1) {
                alert('账号/邮箱不能为空！');
                $('.form .username').focus();
                return false;
            } else if ($('.form .password').val().length < 1) {
                alert('密码不能为空！');
                $('.form .password').focus();
                return false;
            }
        }
    </script>
</div>