 {{ range $k, $v := .postLists }}
<div class="post_list">
    <h1 class="post_title">
        <a href="{{ $v.Id }}/{{ $v.Slug }}" title="{{ $v.Title }}">{{ $v.Title }}</a>
    </h1>
    {{ if $v.comment_status }}

    <?php if ($line['comment_status']) {
echo $line['comment_count'] ? '<a class="comments_link" href="'.site_url($line['channeltype'].'/'.$line['id'].'/'.$line['slug']).'#comments_list" title="《'.$line['title'].'》上的评论">'.$line['comment_count'].'条评论</a>' : '<a class="comments_link" href="'.site_url($line['channeltype'].'/'.$line['id'].'/'.$line['slug']).'#respond" title="《'.$line['title'].'》上的评论">发表评论</a>';
}?>
    <div class="post_content">
        {{ str2html $v.Content }}
    </div>
    <div class="post_meta">本文章发布于
        <a href="<?php echo site_url($line['channeltype'].'/'.$line['id'].'/'.$line['slug']);?>">
            <?php echo $line['posttime']?>
        </a>。 属于
        <?php echo getParCategory($categorys, $line['category'], '<a category_id="%u" href="'.site_url('category/%s').'">%s</a>', ' 、 ');?> 分类。
    </div>
</div>
{{ end }}
<div class="pagination">
    <?php echo $pagination;?>
</div>